<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заметки</title>

    <link rel="stylesheet" href="static/style.css">


</head>
<body>
    <div class="container">
        <h1>📝 Добавить заметку</h1>

        <form method="post" action="/">
            <div class="form-group">
                <input type="text" name="user_input" placeholder="Введите текст заметки..." required autofocus>
                <button type="submit">Добавить</button>
            </div>
        </form>

    </div>
</body>
</html>